.profileCom2{
    border: 1px solid var(--main-color);
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
}

@media (max-width: 576px) {
    .rounded-start {
        max-width: 150px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .rounded-start {
        max-width: 250px;
    }
}

@media (min-width: 768px) {
    .rounded-start {
        max-width: 250px;
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 90%;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 80vh;
}

.btn-close {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}