.side-bar{
    background-color:#fff;
    border-left:1px solid #5b5b5b35;
    border-bottom:1px solid #5b5b5b35;
    min-height:100vh;
    transition:width .3s ease;
    white-space: nowrap;
}

.side-bar.closed{
    width:80px;
    position:relative;
}

.side-bar.open{
    width:250px;
    position:relative;
}

@media (max-width:700px){
    .side-bar.closed{
        width:80px;
        position:relative;
    }
    .side-bar.open{
        width:250px;
        position:absolute;
        z-index:999;
    }
}

@media (min-width:1750px){
    .side-bar.open{
        width:300px;
    }
    .side-bar.closed{
        width:100px;
    }
}

.sidebar-title{
    font-size: 18px;
    font-weight: 600;
}

.sidebar-hint{
    display: flex;
    width: 20px;
    height: 20px;
    margin: -15px;
    top: 5px;
    right: 5px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.sidebar-hint-list{
    display: flex;
    width: 15px;
    height: 15px;
    margin: -5px;
    top: 5px;
    right: 5px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.zxc{
    display: flex;
    justify-content: space-between;
}

.sidebar-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.sidebar-link-close{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover{
    background-color: var(--main-color) ;
    color: white;
}

.sidebar-link-close:hover{
    background-color: var(--main-color) ;
    color: white;
}

.sidebar-link p{
    font-size: 0.875rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
}

.sidebar-list{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    margin: 10px 35px 10px 10px;
    gap: 7px;
}

.sidebar-list:hover{
    background-color: var(--main-color) ;
    color: white;
}

.sidebar-list-close{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    margin: 10px 35px 10px 10px;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.sidebar-list-close:hover{
    background-color: var(--main-color) ;
    color: white;
}

.active-link {
    background-color: var(--main-color);
    color: white;
}

.logout{
    color: var(--text-red);
}

.logout:hover{
    background-color: var(--text-red);
}